ul {
  width: 725px;
  height: 980px;
  left: 150px;
  top: 90px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;

  mix-blend-mode: normal;
  opacity: 0.8;
  box-sizing: border-box;

}

@media (max-width: 650px) {
  ul {
      grid-template-columns: 1fr;
  }
}